
body{
    margin: 0px;
    background-color:rgb(220, 220, 220);
    background-image: url(./Image/black\ hd\ background\ background\ wallpapers\ abstract\ photo\ cool\ black.jpg);
    color: whitesmoke;
}
h2{
    font-family:'Oswald', sans-serif;
    font-size: 150%;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* section header*/

header{
    border-bottom: 1px solid whitesmoke;
    position: sticky;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black ;
    opacity: 0.85
}
header div{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div p{
   margin-top: 0px;
}

h1{
    font-family:'Oswald', sans-serif;
    font-size: xx-large;
    margin-bottom:  0px; 
}
header div img{
    width: 50%;
}
header nav{
    display:flex ;
    flex-direction: row;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}
.elemnav{
    color: whitesmoke;
    text-decoration: none;
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    padding-left: 10px ;
    padding-right: 10px ;
    margin: 1px
}
.elemnav:hover{
    text-decoration: underline;
}

/*section main*/

#hautmain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
    margin-top: 80px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
}
#hautmain section{ 
    background-color: rgb(30, 30, 30);
    padding: 20px;
    object-fit: scale-down;
}
#hautmain div{
    display: flex;
    flex-direction: column;
    width: 40%;
}
#midmain{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding: 0 10%;
}

.submidmain{
    width: 100%;
    border: 1px solid whitesmoke;
    background-color: rgb(40, 40, 40);
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.submidmain img{
    width: 100px;
    padding-right: 50px;
}
.secsubmid{
    padding: 20px;
    width: 50%;
    font-size: small;
}
#botmain{
    border-top: 1px solid whitesmoke;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#botmain section{
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#botmain section h2{
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
#botmain section p{
    margin: 0%;
}
#botmain section a{
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#botmain section a:hover{
    text-decoration: underline;
}
#botmain img{
    width: 8%;
}
/*section footer*/

footer{
    border-top: 1px solid whitesmoke;
    background-color: black;
}
#hautfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hautfooter section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hautfooter img{
    width: 15%;
}
#hautfooter h2{
    margin: 0%;
    font-size: 300%;
}
#hautfooter p{
    margin: 0%

}
#basfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}
#basfooterg{
    border-right: 1px solid whitesmoke;
    margin-right: 1px;
    padding-right: 40px;
}
#basfooterg h2{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#basfooterg nav{
    display: flex;
    flex-direction: column;
}
.elemnavfooterg{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: smaller;
}
.elemnavfooterg:hover{
    text-decoration: underline;
}
#basfooterd{
    border-left: 1px solid whitesmoke;
    margin-left: 1px;
    padding-left: 40px;    
}
#basfooterd h2{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#basfooterd nav{
    display: flex;
    flex-direction: row;
}
.elemnavfooterd{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: smaller;
    padding-right: 10px;
}
.elemnavfooterd:hover{
    text-decoration: underline;
}

@media all and (max-device-width:480px){
    header{
        padding-top:10px ;
        padding-bottom: 30px;
    }
    h1{
        font-size: 300%;
    }
    header div p{
        font-size: 150%;
    }
    header div img{
        width: 75%;
    }   
    .elemnav{
        font-size:  200%;  
    }
    #hautmain{
        display: flex;
        flex-direction: column;
    }
    #hautmain section{
        padding-left: 60px;
        padding-right: 60px;
    }
    #hautmain section h2{
        margin-bottom: 100px;
    }
    #hautmain section p{
        margin-bottom: 80px;
    }
    #hautmain div{
        width: 100%;
        margin-bottom: 30px;
    }
    .secsubmid{
        font-size: 150%;
    }
    .submidmain img{
        width: 20%;
    }
    #botmain{
        font-size: 130%;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #botmain img{
        width:15%;
        padding-right: 60px;
    }
    #hautfooter section h2{
        font-size: 300%;
    }
    #hautfooter section p{
        font-size: 150%;
    }
    #hautfooter img{
        width: 15%;
    }
    #basfooterg{
        font-size: 200%;
    }
    #basfooterd{
        font-size: 200%;
    }
}
